boto==2.48.0
bz2file==0.98
certifi==2017.7.27.1
chardet==3.0.4
gensim==3.0.1
gevent==1.2.2
greenlet==0.4.12
idna==2.6
mecab-python3==0.7
numpy==1.13.3
pykakasi==0.24
pypugjs==4.2.2
requests==2.18.4
scipy==1.0.0
six==1.10.0
smart-open==1.5.3
tornado==4.5.2
urllib3==1.22
websocket==0.2.1
websocket-client==0.44.0
