body {

}

input{
    height: 20px;
    width: 500px;
    outline: 0;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

input:active, input:focus{
    height: 20px;
    width: 500px;
    outline: 0;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom: 1px solid #c9d754;
    -webkit-box-shadow:0px 1px 1px #c9d754;
    -moz-box-shadow:0px 1px 1px #c9d754;
    box-shadow: 0px 1px 1px #c9d754;
}

.resultapp {
    width: 500px;
    background-color: #eee;
    font-size: 16px;
    font-smooth: never;
    -webkit-font-smoothing: none;
    font-family: 'pokemon-font', monospace;
}

@font-face {
    font-family: 'pokemon-font';
    src: url('../fonts/pokemon-font.eot'); /* IE9 Compat Modes */
    src: url('../fonts/pokemon-font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/pokemon-font.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/pokemon-font.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/pokemon-font.ttf')  format('truetype') /* Safari, Android, iOS */
}

.resultappul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.resultappli {
    float: left;
}

.resultappa {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.resultappa:hover {
    background-color: #111;

}