{% extends "base.pug" %}

{% block pagename %}wstest{% end %}

{% block content %}
div.mainform#app(align="center")
  div.botapp
    p#botmes(style="list-style:none;") {{current_user}}さん、きょうのごはんはなんでした?
  div.resultapp
    p#result(style="list-style:none;")
  div.sendform
    input#text_box(type="text")
    button.chatbutton#btn(onclick="send_mes();"): span.chatbuttonspan PUSH
{% end %}
