{% extends "base.pug" %}

{% block pagename %}Sign up{% end %}

{% block content %}
form(action="/signup" method="post")
  div.form-group
    label username
    input#username(type="text" name="username")
  div.form-group
    label password
    input#password(type="password" name="password")
  div.form-group
    label confirm password
    input#confirm(type="password" name="confirm")
  input(type="submit" value="Sign Up")
{% end %}
